.content {
    display: flex;
    flex: 1;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.container-form {
    display: flex;
    width: 470px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
}

.container-form form {
    margin-left: 12px;
    width: 470px;
}

.container-form ul.list {
    list-style-type: none;
    padding: 0;
}

.container-form ul.list li {
    display: inline-block;
    /* Torna os itens da lista elementos em linha */
    vertical-align: top;
    /* Alinha os itens verticalmente ao topo */
    margin-right: 20px;
    /* Adiciona um espaçamento entre os itens */
    margin-top: 20px;
}

.container-form ul.list li:last-child {
    margin-right: 0;
    /* Remove o espaçamento do último item */
}

.container-form ul.list li label {
    display: block;
    color: black;
    /* Faz com que as etiquetas ocupem toda a largura */
}

.container-form ul.list li input,
.container-form ul.list li textarea {
    width: 200px;
    margin-bottom: 10px;
    background-color: none;
    border: 1px solid rgb(104, 55, 104);
    border-radius: 5px;
    outline: none;
    color: black;
    /*background-color: linear-gradient(to right, #301046, #6e2c97);*/
}

.container-form ul.list li textarea {
    height: 100px;
}

.button-form {
    background-color: rgb(105, 48, 105);
    border: none;
    border: 1px solid rgb(105, 48, 105);
    border-radius: 5px;
    color: white;
    background: linear-gradient(to right, #301046, #6e2c97);
    cursor: pointer;
    padding: 10px;
}